In [50]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
import psycopg2
import pandas as pd
import numpy as np

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

from scipy.spatial.distance import euclidean

In [51]:
conn = psycopg2.connect(
    host = "localhost", 
    dbname = "mnrj", 
    user= "postgres", 
    password = "gwdb", 
    port = 5600
)

In [52]:
query = "SELECT * FROM nba;"
data = pd.read_sql(query, conn)
conn.close()

/var/folders/yh/dpxm34q14klby4wqd82k6qcc0000gn/T/ipykernel_63675/3769671571.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, conn)

In [65]:
data.head()
player = "Jayson Tatum"
opp = 'MIA'
dataPlayer = data[data['player'] == 'Jayson Tatum']
dataPlayer = dataPlayer.drop(['age', 'teammates_points', 'teammates_rebounds', 'teammates_assists', 'teammates_pr', 'teammates_pa', 'teammates_ar', 'teammates_pra', 
                              'opponents_points', 'opponents_rebounds', 'opponents_assists', 'opponents_pr', 'opponents_pa', 'opponents_ar', 'opponents_pra',
                             'id',],axis=1)
dataPlayer = dataPlayer[dataPlayer['opp'] == opp]

dataPlayer = dataPlayer.dropna()
dataPlayer.head()

,player,date,team,hoa,opp,gs,mp,fg,fga,fg_percent,...,pos,player_additional,result,total_score,p_r_a,p_r,p_a,a_r,month,days_since
1133,Jayson Tatum,2024-04-21,BOS,0,MIA,1,41,7,18,0.389,...,F,tatumja01,1,208,43,33,33,20,4,180
1134,Jayson Tatum,2024-04-24,BOS,0,MIA,1,41,10,20,0.500,...,F,tatumja01,0,212,39,36,31,11,4,183
1135,Jayson Tatum,2024-04-27,BOS,1,MIA,1,39,6,16,0.375,...,F,tatumja01,1,188,39,33,28,17,4,186
1136,Jayson Tatum,2024-04-29,BOS,1,MIA,1,37,5,14,0.357,...,F,tatumja01,1,190,36,31,25,16,4,188
1137,Jayson Tatum,2024-05-01,BOS,0,MIA,1,32,4,9,0.444,...,F,tatumja01,1,202,31,28,19,15,5,190